<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Some of the product we print on.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1x2 Tiles</h4>
                                    <h4 class="subheading">Very small prints makes for great giveaways at low cost</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The WRO Expert Zone have been giving those away for several years now</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2x2 tiles</h4>
                                    <h4 class="subheading">Perfect square print ideal for company logo and QR codes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You can't go wrong with a 2x2 tile'</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Technic Beams</h4>
                                    <h4 class="subheading">Any lenght, from 3 to 15 modules long</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When your audiance is more technical, these elements are great for robotic teams looking for something cool to print their team names on</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Minifigures® business card</h4>
                                    <h4 class="subheading">The ultimate first impression</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Imagine giving a mini you to that special person, coach, mentor, client etc...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>You imagine it 
                                    <br>We print it
                                    <br>Ask for a quote now!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>