<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Millionprints</h2>
                    <h3 class="section-subheading text-muted">Providing Custom Prints to the AFOL Community Since 2015</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
		        <a href="{{ member.url }}">
		        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p></a>
{% comment %}


		      <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

{% endcomment %}
			    
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Based in Montreal, Quebec, Millionprints.com has been producing quality prints on a variety of LEGO® bricks for the AFOL (Adult Fans Of LEGO) community as well of for the STEM related community such as LEGO Robotic teams competing in LEGO Robotic events. The people behind Millionprints combines graphic design skills, an attention to detail, artistic sense, and an understanding of the LEGO community to bring quality products to everyone. Use the form above to contact Millionprints and tell us what print project you have in mind, we will be delighted to serve you.</p>
                </div>
            </div>
        </div>
    </section>